# Backend - Gradle
gnimah-backend/build/
gnimah-backend/.gradle/
gnimah-backend/*.log

# Frontend
gnimah-frontend/node_modules/
gnimah-frontend/dist/
gnimah-frontend/.angular/

# IDE
.idea/
*.iml
.vscode/
*.suo
*.user

# OS
.DS_Store
Thumbs.db

# Secrets
gnimah-backend/src/main/resources/application-local.yml
.env

# Logs
*.log
