<form [formGroup]="form" (ngSubmit)="onSubmit()" class="client-form" *ngIf="form">
  <div class="form-row">
    <div class="form-field">
      <label>Civilité *</label>
      <p-select
        formControlName="civilite"
        [options]="civiliteOptions"
        optionLabel="label"
        optionValue="value"
        placeholder="Civilité"
      ></p-select>
      <small class="p-error" *ngIf="isFieldInvalid('civilite')">Requis</small>
    </div>
    <div class="form-field flex-2">
      <label>Nom *</label>
      <input pInputText formControlName="nom" placeholder="Nom de famille" />
      <small class="p-error" *ngIf="isFieldInvalid('nom')">Requis</small>
    </div>
    <div class="form-field flex-2">
      <label>Prénom</label>
      <input pInputText formControlName="prenom" placeholder="Prénom" />
    </div>
  </div>

  <div class="form-row">
    <div class="form-field">
      <label>Téléphone *</label>
      <input pInputText formControlName="telephone" placeholder="+225 00 00 00 00" />
      <small class="p-error" *ngIf="isFieldInvalid('telephone')">Requis</small>
    </div>
    <div class="form-field">
      <label>Email</label>
      <input pInputText formControlName="email" type="email" placeholder="email@exemple.com" />
    </div>
  </div>

  <div class="form-row">
    <div class="form-field">
      <label>Type de pièce *</label>
      <p-select
        formControlName="typePiece"
        [options]="typePieceOptions"
        optionLabel="label"
        optionValue="value"
        placeholder="Type de pièce"
      ></p-select>
      <small class="p-error" *ngIf="isFieldInvalid('typePiece')">Requis</small>
    </div>
    <div class="form-field flex-2">
      <label>Numéro de pièce *</label>
      <input pInputText formControlName="numeroPiece" placeholder="Numéro" />
      <small class="p-error" *ngIf="isFieldInvalid('numeroPiece')">Requis</small>
    </div>
  </div>

  <div class="form-row">
    <div class="form-field">
      <label>Nationalité</label>
      <input pInputText formControlName="nationalite" placeholder="Ivoirien, Français..." />
    </div>
    <div class="form-field flex-2">
      <label>Adresse</label>
      <input pInputText formControlName="adresse" placeholder="Adresse complète" />
    </div>
  </div>
</form>
